.sidebar-menu {
  .menu-open {
    > a {
      color: #fff;
      > .fa-angle-left {
        transform: rotate(-90deg);
      }
    }
    > .treeview-menu {
      display: block;
    }
  }
}
.sidebar-toggle {
  cursor: pointer;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.btn-app-block {
  text-align: right;
}

.modal {
  overflow-y: auto;
  overflow-x: hidden;
}

.serial-select-item {
  position: relative;
  .serial-select-item__image {
    position: absolute;
    display: block;
    width: 60px;
    top: 0;
    left: 0;
    img {
      max-height: 40px;
      max-width: 60px;
    }
  }
  .serial-select-item__info {
    display: block;
    width: 100%;
    padding-left: 65px;
    box-sizing: border-box;
    &:first-child {
      font-size: 15px;
    }
  }
}