.data-table {
  .sortable {
    position: relative;
    padding-right: 20px;
    cursor: pointer;
    &::after {
      content: "\f07d";
      @include fa-icon;
      position: absolute;
      top: 50%;
      right: 0;
      width: 20px;
      margin-top: -7px;
      text-align: center;
      opacity: 0.2;
    }
    &.sort-asc::after {
      content: "\f160";
      opacity: 1;
    }
    &.sort-desc::after {
      content: "\f161";
      opacity: 1;
    }
  }
  > tbody > tr > td,
  > thead > tr > th {
    vertical-align: middle;
  }

  .actions * {
    cursor: pointer;
    vertical-align: middle;
    margin-left: 15px;
    &:first-child {
      margin-left: 0;
    }
  }
}