.informer-wrapper {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 350px;
  padding-right: 10px;
  z-index: 1100;
  transition: height .6s ease;
  h4 {
    margin-bottom: 0;
  }
  p {
    margin-top: 10px;
  }
  .alert {
    opacity: 1;
    &.alert-closed {
      opacity: 0;
      transition: all .4s;
    }
  }
}