.preloader-top {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
  .progress {
    margin-bottom: 0;
    background: transparent;
  }
  .progress-bar {
    width: 0;
  }
  &.preloader-start {
    .progress-bar {
      width: 90%;
      transition: width 20s cubic-bezier(0.020, 0.85, 0.000, 1.000);
    }
  }
  &.preloader-stop {
    .progress-bar {
      width: 100%;
      transition: width .2s ease-in;
    }
  }
  &.preloader-hidden {
    width: 0;
  }
}