.category-page {
  margin-top: 50px;
  &.row {
    @include clearfix();
    .col-1 {
      float: left;
      width: 960px;
    }
    .col-2 {
      float: right;
      width: 220px;
    }
  }
}
.main-block-ttl {
  display: block;
  margin: 50px 0 15px 0;
  text-align: center;
  @include font(22px);
  color: $clr-text;
}
.main-block {
  @include clearfix();
  .item-block {
    display: block;
    margin: 10px;
    float: left;
  }
}
.block-items {
  @include clearfix();
  .item-block {
    display: block;
    margin: 10px;
    float: left;
  }
}

.item-block {
  position: relative;
  display: block;
  width: 190px;
  height: auto;
  padding: 15px;
  background: $clr-block-bg;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  .item-block__image {
    height: 260px;
    text-align: center;
    a {
      line-height: 0;
    }
    img {
      display: inline-block;
      max-height: 100%;
      max-width: 100%;
    }
  }
  .item-block__name {
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    a {
      @include font(16px);
      color: $clr-link;
    }
  }
  .item-block__duration {
    margin-top: 5px;
    @include font(14px);
    color: $clr-text;
    @include clearfix();
    small {
      @include font(12px);
      color: $clr-text-light;
    }
  }
  .item-block__labels {
    margin-top: 5px;
    .item-block__label {
      display: inline-block;
      margin-right: 13px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .item-block__label {
    display: inline-block;
    line-height: 16px;
    @include font(12px);
    color: $clr-text-light;
    &.item-block__label--origin {
      color: #dc6d36;
    }
    &.item-block__label--voice {
      color: #41d45e;
    }
    &.item-block__label--sub {
      color: #626465;
    }
  }

  .item-tooltip {
    display: none;
    top: 0;
  }
  &:hover .item-tooltip {
    display: block;
  }
}

.item-tooltip {
  position: absolute;
  width: 320px;
  box-sizing: border-box;
  z-index: 1;
  .item-tooltip-content{
    padding: 20px;
    background: $clr-block-bg;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8, 0 0 20px rgba(130,150,150,.9);
    box-sizing: border-box;
  }
  &.item-tooltip--left {
    left: -320px;
    padding-right: 20px;
    .item-tooltip-content::before {
      content: '';
      display: block;
      position: absolute;
      top: 20px;
      right: 8px;
      border-left: 12px solid $clr-block-bg;
      border-right: none;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
    }
  }
  &.item-tooltip--right {
    right: -320px;
    padding-left: 20px;
    .item-tooltip-content::before {
      content: '';
      display: block;
      position: absolute;
      top: 20px;
      left: 9px;
      border-right: 12px solid $clr-block-bg;
      border-left: none;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
    }
  }
  &.item-tooltip--image {
    width: 520px;
    &.item-tooltip--right {
      right: -520px;
    }
    &.item-tooltip--left {
      left: -520px;
    }
    .row {
      @include clearfix();
      .col-1 {
        float: left;
        width: 35%;
      }
      .col-2 {
        float: right;
        width: 60%;
      }
    }
  }
  .item-tooltip__close {
    position: absolute;
    display: inline-block;
    top: 10px;
    right: 10px;
    font-size: 14px;
    color: $clr-text-light;
    text-shadow: 0 1px rgba(200,200,200,.8);
    cursor: pointer;
    &:hover {
      color: $clr-text;
    }
  }
  .item-tooltip__name {
    a {
      @include font(16px);
      color: $clr-link;
      text-decoration: none;
    }
  }
  .item-tooltip__description {
    margin-top: 8px;
    @include font(13px);
    color: $clr-text;
    line-height: 1.2;
  }
  .item-tooltip__props {
    margin-top: 8px;
    .item-tooltip__props-row {
      line-height: 22px;
      @include font(13px);
      color: $clr-text;
      span {
        display: inline-block;
        margin-right: 8px;
        @include font-bold(13px);
      }
    }
  }
  .item-tooltip__image {

    img {
      max-width: 100%;
    }
  }
  .item-tooltip__group {
    margin-top: 10px;
    @include clearfix();
    .item-btn {
      float: left;
      display: block;
      position: relative;
      line-height: 30px;
      padding-left: 50px;
      width: 215px;
      @include font(14px);
      color: $clr-menu-link;
      text-decoration: none;
      border: 1px solid $clr-menu-link;
      box-sizing: border-box;
      cursor: pointer;
      .fa {
        position: absolute;
        left: 20px;
        top: 50%;
        margin-top: -9px;
        font-size: 18px;
        color: $clr-menu-link;
      }
    }
    .item-tooltip__rating {
      display: inline-block;
      float: right;
      line-height: 30px;
      @include font(20px);
      color: $clr-text;
    }
  }
}
.items-more {
  display: block;
  margin-top: 40px;
  line-height: 40px;
  text-align: center;
  @include font(13px);
  color: $clr-text-light;
  cursor: pointer;
}

.block-filter {
  margin-bottom: 20px;
  padding-left: 40px;
  &:last-child {
    margin-bottom: 0;
  }
  .filter-ttl {
    display: block;
    margin-bottom: 10px;
    @include font(18px);
    color: $clr-text;
  }
}
.chopick + .block-filter:first-child {
  margin-top: 47px;
}
.filter {

  .filter__item {
    line-height: 26px;
    @include font(14px);
    color: $clr-text-light;
    cursor: pointer;
    &:hover {
      color: $clr-text;
    }
    .fa {
      margin-right: 8px;
      font-size: 14px;
      color: $clr-menu-link;
    }
  }
  .filter-select {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    @include font(13px);
    color: $clr-text;
    border: none;
    box-sizing: border-box;
    appearance: none;
    &:hover {
      background: rgba(200,200,200,.2);
    }
  }
}