.chopick {

  &.empty {
    min-height: 100px;
    text-align: center;
    line-height: 100px;
    @include font(20px);
    color: #777;
    text-shadow: 1px 1px #f5e8dc;
    background: #dedede;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    &.chopick--home-aside-top,
    &.chopick--home-aside-bottom,
    &.chopick--list-aside {
      height: 500px;
      line-height: 500px;
    }
    &.chopick--item-info {
      height: 200px;
      line-height: 200px;
    }
    &.chopick--item-player {
      height: 200px;
      line-height: 200px;
    }
  }
  &.chopick--home-aside-top {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  &.chopick--home-aside-bottom {
    margin-top: 30px;
  }
  &.chopick--home-inlist {
    float: left;
    width: 98%;
    margin: 20px 10px;
  }
  &.chopick--list-aside {

  }
  &.chopick--item-info {
    margin: 40px 0;
  }
  &.chopick--item-player {
    margin-top: 20px;
  }
}