.soc-auth {
  margin-bottom: 20px;
  text-align: center;
  .coc-auth__vk {
    background-color: #48729e;
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    @include font(14px);
    color: #fff;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
  }
}
.form {
  padding: 20px;
  margin: 0 auto;
  background: $clr-block-bg;
  box-sizing: border-box;
}
.form-group {
  margin-bottom: 20px;
  text-align: center;
  &:last-child {
    margin-bottom: 0;
  }
}
.form-label {
  display: inline-block;
  margin-bottom: 10px;
  @include font(13px);
  color: $clr-text-light;
  text-align: center;
}
.form-field {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  @include font(14px);
  color: $clr-text;
  border: 1px solid $clr-menu-link;
  outline: none;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}
.form-error {
  display: block;
  margin-top: 10px;
  height: 13px;
  @include font(12px);
  color: red;
}
.form-btn {
  display: block;
  width: 100%;
  padding: 0 20px;
  line-height: 40px;
  @include font(14px);
  color: $clr-menu-link;
  text-align: center;
  border: 1px solid $clr-menu-link;
  background: transparent;
  box-sizing: border-box;
}
.modal {
  .main-block-ttl {
    margin-top: 0;
  }
}