html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background: $clr-bg;
}

.clearfix {
  @include clearfix();
}

.pull-right {
  float: right;
}

.site-width {
  width: $site-width;
  margin-right: auto;
  margin-left: auto;
}

.link {
  color: $clr-link;
}

.ttl {
  display: block;
  padding-left: 15px;
  margin-bottom: 15px;
  @include font(22px);
  color: $clr-text;
}

header {
  height: 100px;
  box-shadow: 0 1px 2px rgba(50,50,50,.6);
}
.logo {
  margin-top: 15px;
}
.menu-top {
  height: 100%;
  .menu-top__item {
    display: inline-block;
    height: 100%;
    line-height: 100px;
    padding: 0 20px;
    vertical-align: middle;
    a {
      @include font-bold(18px);
      text-decoration: none;
      color: $clr-menu-link;
    }
    .logout {
      font-size: 25px;
      font-weight: normal;
    }
    *:focus {
      outline: none;
    }
  }
}
.search-top {
  position: relative;
  display: inline-block;
  width: 400px;
  line-height: 40px;
  padding-left: 50px;
  vertical-align: middle;
  .search-top__field {
    display: inline-block;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    padding-right: 50px;
    border: none;
    box-shadow: 0 0 3px rgba(100,100,100,.2);
    box-sizing: border-box;
    &:focus {
      outline: none;
    }
  }
  .search-top__btn {
    position: absolute;
    top: 50%;
    right: 0;
    height: 40px;
    width: 40px;
    margin-top: -20px;
    border: none;
    box-shadow: none;
    background: transparent;
    box-sizing: border-box;
    &:focus {
      outline: none;
    }
    i {
      line-height: 40px;
      font-size: 20px;
      text-align: center;
      color: #c7c7c7;
    }
  }
  .search-top__results {
    position: absolute;
    top: 42px;
    left: 50px;
    width: 400px;
    padding: 10px 0 5px 0;
    background: #fff;
    border-radius: 0 0 2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    box-sizing: border-box;
    z-index: 2;
    &.hide {
      display: none;
    }
    .search-top__results-item {
      position: relative;
      line-height: 24px;
      padding: 0 10px;
      box-sizing: border-box;
      .search-top__results-item__name {
        display: inline-block;
        max-width: 230px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: text-bottom;
        a {
          @include font(15px);
          color: $clr-link;
        }
      }
      .search-top__results-item__year {
        margin-left: 5px;
        @include font(12px);
        color: #888888;
        vertical-align: text-bottom;
      }
      .item-tooltip {
        display: none;
        top: -20px;
      }
      &:hover .item-tooltip {
        display: block;
      }
    }
  }
}

.need-auth {
  @include font(16px);
  line-height: 20px;
  ul {
    list-style: circle;
    padding-left: 20px;
    padding-top: 10px;
    li {
      padding: 2px 0;
    }
  }
  .need-auth__actions {
    margin-top: 20px;
    text-align: center;
    span {
      margin: 0 10px;
      @include font(18px);
      color: $clr-menu-link;
      cursor: pointer;
    }
  }
}

.select-wrap {
  position: relative;
  display: block;
  &::before {
    content: "\F107";
    position: absolute;
    display: block;
    right: 10px;
    top: 50%;
    margin-top: -6px;
    height: 12px;
    width: 10px;
    line-height: 12px;
    text-align: center;
    font-size: 20px;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    transform: translate(0px, 0px);
  }
}

footer {
  margin-top: 50px;
  padding: 20px 0;
  .copyright {
    @include font(12px);
    color: #999999;
  }
}