.item-page {
  margin-top: 50px;
  .row {
    @include clearfix();
    .col-1 {
      float: left;
      width: 280px;
    }
    .col-2 {
      float: right;
      width: 880px;
    }
  }
}

.item-info-image {

  img {
    width: 100%;
  }
}
.item-play-btn {
  position: relative;
  display: block;
  line-height: 40px;
  padding-left: 60px;
  margin-top: 30px;
  @include clearfix();
  @include font-light(15px);
  color: $clr-menu-link;
  text-decoration: none;
  border: 2px solid $clr-menu-link;
  box-sizing: border-box;
  cursor: pointer;
  .fa {
    position: absolute;
    left: 25px;
    top: 50%;
    margin-top: -10px;
    font-size: 20px;
    color: $clr-menu-link;
  }
}
.item-actions {
  position: relative;
  display: block;
  margin-top: 30px;
  @include clearfix();
  @include font-light(15px);
  color: $clr-menu-link;
  text-decoration: none;
  border: 2px solid $clr-menu-link;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;
  .item-actions__btn {
    position: relative;
    display: block;
    float: left;
    width: 90%;
    line-height: 40px;
    padding-left: 60px;
    box-sizing: border-box;
    .fa {
      position: absolute;
      left: 25px;
      top: 50%;
      margin-top: -10px;
      font-size: 20px;
      color: $clr-menu-link;
    }
  }
  .item-actions__toggle {
    display: block;
    float: right;
    width: 10%;
    line-height: 40px;
    text-align: center;
    border-left: 1px solid $clr-menu-link;
    box-sizing: border-box;
    .fa {
      font-size: 20px;
      color: $clr-menu-link;
    }
    &:hover {
      background: rgba(85,174,255,.2);
    }
    &:hover + .item-actions__list {
      display: block;
    }
  }
  .item-actions__list {
    display: none;
    position: absolute;
    top: 100%;
    left: -2px;
    width: 100%;
    border: 2px solid $clr-menu-link;
    background: $clr-bg;
    &:hover {
      display: block;
    }
    .item-actions__list-item {
      padding: 0 20px;
      line-height: 32px;
      border-bottom: 1px solid $clr-menu-link;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background: rgba(85,174,255,.2);
      }
    }
  }
}
.item-rating {
  display: block;
  margin-top: 30px;
  .item-rating__stars {
    display: block;
    line-height: 40px;
    @include clearfix();
    .fa {
      position: relative;
      padding-right: 4px;
      font-size: 36px;
      color: #DDD034;
      cursor: pointer;
      &:last-child {
        padding-right: 0;
      }
      span {
        position: absolute;
        display: block;
        top: 0;
        width: 50%;
        height: 100%;
        cursor: pointer;
        &:first-child {
          left: 0;
        }
        &:last-child {
          left: 50%;
        }
      }
    }
    .item-rating__stars-value {
      display: inline-block;
      float: right;
      @include font(36px);
      color: $clr-text;
    }
  }

  .item-rating__kp {
    display: inline-block;
    height: 36px;
    width: 80px;
    line-height: 36px;
    margin-top: 10px;
    margin-right: 20px;
    padding-left: 48px;
    @include font(26px);
    color: $clr-text;
    background: url(/images/kp-icon.png) no-repeat left center;
    box-sizing: border-box;
  }
  .item-rating__imdb {
    display: inline-block;
    height: 36px;
    width: 80px;
    line-height: 36px;
    margin-top: 10px;
    margin-right: 20px;
    padding-left: 48px;
    @include font(26px);
    color: $clr-text;
    background: url(/images/imdb-icon.png) no-repeat left center;
    box-sizing: border-box;
  }
  .item-rating__user {
    display: inline-block;
    height: 36px;
    width: 60px;
    line-height: 36px;
    margin-top: 10px;
    margin-right: 20px;
    padding-left: 5px;
    @include font(26px);
    color: $clr-text;
    box-sizing: border-box;
    .fa {
      margin-right: 15px;
      color: #55aeff;
      font-size: 32px;
    }
  }
}

.item-info-name {
  margin-bottom: 20px;
  @include font(26px);
  color: $clr-text;
  span {
    display: inline-block;
    margin-left: 10px;
    @include font(15px);
    color: $clr-text-light;
  }
}
.item-info {
  padding: 20px;
  margin-bottom: 30px;
  background: $clr-block-bg;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;

  .item-info__props {
    .item-info__props-row {
      line-height: 28px;
      @include font(14px);
      color: $clr-text;
      span {
        display: inline;
        margin-right: 10px;
        @include font-bold(14px);
      }
    }
  }
  .item-info__description {
    margin-top: 20px;
    @include font(14px);
    color: $clr-text;
    line-height: 1.5;
  }
}

.comments {
  padding: 20px;
  background: $clr-block-bg;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  .comments__item {
    position: relative;
    min-height: 80px;
    margin-bottom: 20px;
    @include clearfix();
  }
  .comments__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    img {
      max-width: 100%;
      max-height: 80px;
    }
  }
  .comments__content {
    padding-left: 100px;
  }
  .comments__ttl {
    margin-bottom: 8px;
    @include font-bold(14px);
    color: $clr-text;
    span {
      display: inline-block;
      margin-left: 10px;
      @include font(12px);
      font-weight: normal;
      color: $clr-text-light;
    }
  }
  .comments__text {
    line-height: 1.5;
    @include font(14px);
    color: $clr-text;
  }
  .comments__more {
    display: block;
    line-height: 40px;
    text-align: center;
    @include font(13px);
    color: $clr-text-light;
    cursor: pointer;
    &:hover {
      background: rgba(200,200,200,.2);
    }
  }
  .comments__note {
    @include font(14px);
    color: $clr-text-light;
  }

  .comments-form {
    margin-bottom: 40px;
    box-sizing: border-box;
    .comments-form__field {
      display: block;
      width: 100%;
      height: 40px;
      padding: 7px 10px;
      line-height: 1.5;
      @include font(14px);
      color: $clr-text;
      border: 1px solid #ccc;
      outline: none;
      box-sizing: border-box;
      &.active {
        height: 142px;
        margin-bottom: 20px;
        border: 1px solid $clr-menu-link;
        outline: none;
        transition: all .5s ease-in-out;
        & + .comment-form__btn {
          display: inline-block;
        }
      }
    }
    .comment-form__btn {
      display: none;
      line-height: 40px;
      padding: 0 30px;
      @include font(14px);
      color: $clr-menu-link;
      border: 1px solid $clr-menu-link;
      cursor: pointer;
    }
  }
}

.smotret {
  position: fixed;
  display: block;
  top: 85px;
  right: 0;
  width: 50px;
  line-height: 20px;
  text-align: center;
  @include font-light(18px);
  color: $clr-menu-link;
  text-decoration: none;
  cursor: pointer;
  .fa {
    margin-bottom: 10px;
    font-size: 34px;
    color: $clr-menu-link;
  }
}