.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.modal {
  position: absolute;
  top: 40px;
  left: 50%;
  width: 340px;
  padding: 30px;
  margin-left: -200px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
  background-color: #fff;
  overflow: hidden;
  &:focus {
    outline: none;
  }
}
.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  float: right;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  color: #666;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
}