.my-page {
  margin-top: 50px;
  &.row {
    @include clearfix();
    .col-1 {
      float: left;
      width: 960px;
    }
    .col-2 {
      float: right;
      width: 220px;
    }
  }
}

.my-list {
  margin-bottom: 40px;
  > .row {
    @include clearfix();
    padding: 0 10px;
    box-sizing: border-box;
    > .col {
      float: left;
      box-sizing: border-box;
    }
    > .col-1 {
      width: 47%;
    }
    > .col-2 {
      width: 20%;
    }
    > .col-3 {
      width: 26%;
    }
    > .col-4 {
      width: 7%;
    }
    &.my-list-head {
      @include font(13px);
      color: $clr-text-light;
      box-sizing: border-box;
      > .col {
        padding: 10px;
      }
    }
    &.my-list-item {
      margin-bottom: 5px;
      background: $clr-block-bg;
      box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
      box-sizing: border-box;
      > .col {
        padding: 10px;
      }
    }
  }
  .my-list-item__name {
    position: relative;
    display: inline-block;
    max-width: 100%;
    a {
      display: inline-block;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @include font(17px);
      color: $clr-link;
      text-decoration: none;
    }
    .item-tooltip {
      display: none;
      top: -23px;
      white-space: normal;
    }
    &:hover .item-tooltip {
      display: block;
    }
  }
  .my-list-item__duration {
    margin-top: 7px;
    @include font(14px);
    color: $clr-text;
    @include clearfix();
    small {
      @include font(12px);
      color: $clr-text-light;
    }
  }
  .select-wrap {
    float: left;
    width: 50%;
  }
  .my-list-item__select {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    @include font(13px);
    color: $clr-text;
    border: none;
    box-sizing: border-box;
    appearance: none;
    &:hover {
      background: rgba(200,200,200,.2);
    }
  }
  .my-list-item__play {
    display: inline-block;
    margin-top: 4px;
    text-decoration: none;
    span {
      display: block;
      @include font(12px);
      color: $clr-menu-link;
      text-align: center;
      text-decoration: underline;
    }
    .fa {
      display: block;
      margin-bottom: 3px;
      font-size: 18px;
      color: $clr-menu-link;
      text-decoration: none;
      text-align: center;
    }
  }
  .timer {
    margin-top: 3px;
  }
}

.timer {
  @include clearfix();
  .timer__col {
    float: left;
    width: 35px;
    margin-right: 10px;
    text-align: center;
    &:last-child {
      margin-right: 0;
    }
  }
  .timer__value {
    display: block;
    margin-bottom: 3px;
    @include font-bold(20px);
    color: $clr-text;
  }
  .timer__unit {
    display: block;
    @include font(12px);
    color: $clr-text-light;
  }
}