.player-page {
  margin-top: 40px;
}

.player {

  &.row {
    @include clearfix();
    .col-1 {
      float: left;
      width: 900px;
    }
    .col-2 {
      float: right;
      width: 280px;
    }
  }

  iframe {
    width: 100%;
    height: 506px;
    margin-bottom: 30px;
    background: #000;
  }
  .player__select-block {
    margin-bottom: 10px;
    padding: 10px;
    background: $clr-block-bg;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    box-sizing: border-box;
  }
  .select-wrap {
    float: left;
    width: 50%;
  }
  .player__select {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    @include font(13px);
    color: $clr-text;
    border: none;
    box-sizing: border-box;
    appearance: none;
    &:hover {
      background: rgba(200,200,200,.2);
    }
  }
  .player__check {
    display: block;
    position: relative;
    margin-top: 10px;
    line-height: 40px;
    padding-left: 50px;
    width: 100%;
    @include font(14px);
    color: $clr-menu-link;
    text-decoration: none;
    border: 1px solid $clr-menu-link;
    box-sizing: border-box;
    cursor: pointer;
    .fa {
      position: absolute;
      left: 20px;
      top: 50%;
      margin-top: -9px;
      font-size: 18px;
      color: $clr-menu-link;
    }
  }

  .player__list {

    .player__list-block {
      margin-bottom: 5px;
      background: $clr-block-bg;
      box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
      box-sizing: border-box;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .player__list-block-ttl {
      line-height: 40px;
      padding: 0 20px;
      @include font(14px);
      color: $clr-text;
      text-decoration: none;
      cursor: pointer;
      .fa {
        float: right;
        line-height: 40px;
        font-size: 16px;
        color: $clr-text-light;
      }
      &:hover {
        background: rgba(200,200,200,.2);
      }
    }
    .player__list-block--single {
      .player__list-block-ttl {
        cursor: default;
        &:hover {
          background: none;
        }
      }
    }
    .player__list-block-items {
      display: none;
      padding-bottom: 10px;
    }
    .player__list-block {
      &.active,
      &.player__list-block--single {
        .player__list-block-items {
          display: block;
        }
      }
    }
    .player__list-block-item {
      padding: 5px 20px 5px 30px;
      a {
        @include font(13px);
        color: $clr-menu-link;
        text-decoration: none;
      }
      &.active a {
        color: $clr-text;
        @include font-bold(13px);
      }
    }
  }
}

.nazad {
  position: fixed;
  display: block;
  top: 85px;
  left: 0;
  width: 50px;
  line-height: 20px;
  text-align: center;
  @include font-light(18px);
  color: $clr-menu-link;
  text-decoration: none;
  cursor: pointer;
  .fa {
    margin-bottom: 10px;
    font-size: 34px;
    color: $clr-menu-link;
  }
}
