.preloader-top {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;

  .progress {
    overflow: hidden;
    box-shadow: none;
  }
  .progress-xxs {
    height: 3px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
    .progress-bar {
      border-top-left-radius: 1px;
      border-top-right-radius: 1px;
      border-bottom-right-radius: 1px;
      border-bottom-left-radius: 1px;
    }
  }
  .progress-bar {
    float: left;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    transition: width 0.6s ease;
  }
  .progress-bar-danger {
    background-color: #dd4b39;
  }
  .progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent)
  }
  .progress {
    margin-bottom: 0;
    background: transparent;
  }
  .progress-bar {
    width: 0;
  }
  &.preloader-start {
    .progress-bar {
      width: 90%;
      transition: width 20s cubic-bezier(0.020, 0.85, 0.000, 1.000);
    }
  }
  &.preloader-stop {
    .progress-bar {
      width: 100%;
      transition: width .2s ease-in;
    }
  }
  &.preloader-hidden {
    width: 0;
  }
}