$site-width: 1200px;
$clr-bg: #edeef0;
$clr-block-bg: #ffffff;
$clr-text: #444444;
$clr-text-light: #888888;
$clr-menu-link: #55aeff;
$clr-link: #007;

$font-main: 'Roboto Condensed', sans-serif;
@mixin font($size) {
  font-family: $font-main;
  font-size: $size;
}
@mixin font-light($size) {
  @include font($size);
  font-weight: 300;
}
@mixin font-bold($size) {
  @include font($size);
  font-weight: 700;
}

@mixin clearfix() {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}