.category-page {
  margin-top: 15px;
  padding: 0 20px;
  box-sizing: border-box;
}
.block-items {
  .item-block {
    float: none;
    width: 100%;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    .item-block__image {
      width: 100%;
      height: auto;
    }
    .item-tooltip {
      display: none;
      .item-tooltip-content::before {
        display: none;
      }
    }
  }
}
.block-filter {
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
  &.filter-top {
    margin-bottom: 15px;
    @include clearfix();
    .select-wrap {
      float: left;
      width: 50%;
    }
    .filter-select {
      display: block;
      width: 100%;
      @include font(16px);
      background: $clr-bg;
      box-sizing: border-box;
      appearance: none;
    }
    .filter-menu-btn {
      display: block;
      float: right;
      padding-left: 8px;
      width: 49%;
      height: 40px;
      @include font(16px);
      color: $clr-text;
      vertical-align: middle;
      box-sizing: border-box;
      .fa {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        margin-right: 8px;
        font-size: 25px;
        color: $clr-menu-link;
        vertical-align: middle;
      }
    }
  }
}
.filter-akordeon {
  .block-filter {
    margin: 0;
    .filter-ttl {
      position: relative;
      padding: 0 25px;
      line-height: 50px;
      background: $clr-block-bg;
      box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
      .fa {
        position: absolute;
        top: 0;
        right: 20px;
        height: 50px;
        line-height: 50px;
        font-size: 20px;
      }
    }
    .filter {
      display: none;
      margin-bottom: 5px;
      padding: 10px 25px;
      .filter__item {
        line-height: 40px;
        font-size: 16px;
        .fa {
          font-size: 20px;
        }
      }
    }
    &.active .filter {
      display: block;
    }
  }
}

.item-tooltip {
  display: none;
}
@media screen and (min-device-aspect-ratio: 1/1) and (orientation: landscape) {
  .block-items {
    .item-block {
      @include clearfix();
      .item-block__image {
        float: left;
        width: 37%;
        height: auto;
      }
      .item-block__name,
      .item-block__duration {
        display: none;
      }
      .item-tooltip {
        position: static;
        float: right;
        display: block;
        width: 62%;
        padding-left: 20px;
        .item-tooltip-content {
          padding: 0;
          box-shadow: none;
        }
      }
    }
  }
}
