.site-width {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
header {
  height: 50px;
  box-shadow: 0 1px 2px rgba(50,50,50,.6);
  &.menu-open {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: $clr-bg;
    z-index: 2;
  }
}

.menu-top {
  position: relative;
  .menu-top__item {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 50px;
    padding: 0;
    line-height: 50px;
    text-align: center;
    .menu-toggle {
      font-size: 30px;
      font-weight: normal;
    }
  }
}
.search-top {
  width: 100%;
  padding-left: 50px;
  padding-right: 5px;
  margin-top: 4px;
  box-sizing: border-box;
  > div {
    position: relative;
  }
  .search-top__results {
    width: 100%;
    left: 0;
    z-index: 3;
    .search-top__results-item {

      .search-top__results-item__name {
        max-width: 80%;
      }
    }
  }
}
footer {
  margin-top: 0;
  padding: 20px 10px;
}
.mobile-side-menu-wrap {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: rgba(255,255,255,.5);
  z-index: 2;
  .mobile-side-menu {
    width: 100%;
    height: 100%;
    background: $clr-bg;
    .logo {
      max-width: 100%;
      min-height: 60px;
      margin-bottom: 15px;
    }
    ul {
      li {
        padding: 0 20px;
        line-height: 60px;
        border-top: 1px solid rgba(200,200,200,.3);
        &:last-child {
          border-bottom: 1px solid rgba(200,200,200,.3);
        }
        a {
          @include font-bold(18px);
          text-decoration: none;
          color: $clr-menu-link;
        }
      }
    }
  }
}
@media screen and (min-device-aspect-ratio: 1/1) and (orientation: landscape) {
  .mobile-side-menu-wrap {
    .mobile-side-menu {
      width: 55%;
    }
  }
}