.item-page {
  margin-top: 20px;
  padding: 0 10px;
  box-sizing: border-box;
}
.item-info-name {

  span {
    display: block;
    margin-left: 0;
    margin-top: 3px;
  }
}
.item-info {
  margin-top: 30px;
}
.item-rating__stars {
  position: relative;
}
.item-rating__select {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}
