.my-page {
  margin-top: 20px;
  padding: 0 10px;
}
.my-list {
  margin-bottom: 20px;
  > .row {
    > .col-1 {
      width: 100%;
    }
    > .col-2,
    > .col-3,
    > .col-4 {
      display: none;
    }
  }
  .my-list-item__select,
  .my-list-item__select:hover,
  .my-list-item__select:focus {
    background: $clr-block-bg;
    appearance: none;
  }
}
@media screen and (min-device-aspect-ratio: 1/1) and (orientation: landscape) {
  .my-list {
    > .row {
      > .col-1 {
        width: 50%;
      }
      > .col-3 {
        display: block;
        width: 50%;
      }
      > .col-2,
      > .col-4 {
        display: none;
      }
    }
  }
}