.player {

  .mobile-iframe-contenr {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    margin-bottom: 10px;
    iframe {
      position: absolute;
      top: 0;
      height: 100%;
      margin: 0;
    }
  }
}
.player__select-block {
  .player__check {
    margin-top: 0;
  }
}
.player__select,
.player__select:hover,
.player__select:focus {
  background: $clr-block-bg;
  appearance: none;
}
