.img-form-group {
  margin-bottom: 15px;
}
.img-form-control {
  position: relative;
  display: inline-block;
  min-height: 128px;
  background-color: #fff;
  border: 1px solid #d2d6de;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  img {
    max-height: 100%;
    max-width: 100%;
  }
  .img-form-noimage {
    min-height: 180px;
    min-width: 220px;
    padding: 35px 15px;
    text-align: center;
    vertical-align: middle;
    background: #e8ecf4;
    box-sizing: border-box;
    &::after {
      content: 'Нет изображения';
      display: inline-block;
      font-size: 20px;
      font-weight: 100;
      color: #333;
      vertical-align: middle;
    }
    &::before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }
  .img-form-btn {
    position: absolute;
    display: none;
    left: 0;
    width: 100%;
    padding: 15px 5px;
    background: rgba(0, 0, 0, .4);
    text-align: center;
    box-sizing: border-box;
    .btn {
      display: inline-block;
    }
    input[type="file"] {
      display: none;
    }
    &.img-form-btn-top {
      top: 0;
    }
    &.img-form-btn-bottom {
      bottom: 0;
    }
  }
  &:hover {
    .img-form-btn {
      display: block;
    }
  }
}