.form-option-list {

  .form-option {
    position: relative;
    display: inline-block;
    height: 34px;
    max-width: 160px;
    padding: 6px 26px 6px 12px;
    margin-right: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    font-size: 14px;
    color: #555555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 17px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    .fa {
      position: absolute;
      right: 8px;
      top: 9px;
      cursor: pointer;
    }
  }
  .form-option-add {
    position: relative;
    display: inline-block;
    height: 34px;
    width: 34px;
    margin-bottom: 5px;
    border-radius: 17px;
    overflow: hidden;
    vertical-align: middle;
    box-sizing: border-box;
    transition: width .4s ease;
    &.form-option-add--open {
      width: 140px;
      overflow: visible;
      transition: width .4s ease;
      input,
      .form-option-add-btn {
        z-index: 2;
      }
    }
    input {
      position: relative;
      display: block;
      height: 34px;
      width: 100%;
      padding: 6px 40px 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555555;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 17px;
      box-sizing: border-box;
      &:focus {
        outline: none;
      }
      &.with-shadow {
        box-shadow: 0 1px 2px rgba(150, 150, 150, 0.3);
      }
    }
    .form-option-add-btn {
      position: absolute;
      top: 0;
      right: 0;
      height: 34px;
      width: 34px;
      color: #555555;
      font-size: 14px;
      text-align: center;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 17px;
      overflow: hidden;
      box-sizing: border-box;
      cursor: pointer;
      .fa {
        line-height: 34px;
      }
    }
    .form-option-add-search {
      position: absolute;
      top: 17px;
      left: 0;
      width: 140px;
      max-height: 200px;
      padding-top: 17px;
      background-color: #fff;
      border: 1px solid #ccc;
      overflow-y: auto;
      z-index: 1;
      div {
        padding: 4px 8px;
        border-bottom: 1px solid rgba(0,0,0,.1);
        cursor: pointer;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
