.select-search {
  position: relative;
  display: block;
  width: 100%;
  font-size: 14px;
  color: #555555;
  .select-search-value {
    position: relative;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
    .fa {
      position: absolute;
      display: block;
      top: 0;
      width: 20px;
      height: 34px;
      line-height: 34px;
      text-align: center;
      &.fa-close {
        display: none;
        right: 25px;
      }
      &.fa-angle-down {
        right: 0;
      }
    }
    &:hover {
      .fa.fa-close {
        display: block;
      }
    }
  }
  &.select-search--open {
    box-shadow: 0 1px 5px rgba(150,150,150,.6);
    .select-search-dropdown {
      display: block;
      box-shadow: 0 1px 5px rgba(150,150,150,.6);
      z-index: 1;
    }
  }
  .select-search-dropdown {
    position: absolute;
    display: none;
    top: 33px;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
    .select-search-search {
      position: relative;
      padding: 3px;
      input {
        display: block;
        width: 100%;
        height: 30px;
        padding: 4px 12px;
        line-height: 1.42857143;
        background-color: #fff;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 5px;
      }
      .fa {
        position: absolute;
        display: block;
        top: 3px;
        right: 4px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        opacity: .5;
        &.fa-plus{
          cursor: pointer;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    ul {
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;
      max-height: 200px;
      overflow: auto;
      box-sizing: border-box;
      &.with-more {
        padding-bottom: 16px;
      }
      li {
        display: block;
        padding: 6px 12px;
        &:hover,
        &.selected {
          background-color: #eee;
        }
      }
    }
    .more {
      position: absolute;
      bottom: 0;
      width: 100%;
      line-height: 16px;
      font-size: 12px;
      text-align: center;
      text-shadow: 0 0 20px #666;
    }
  }
}
